---
let url = Astro.request.url || ""
import Player from '../../components/player'
---
<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <Player url={url} client:load />
  </body>
  </html>
<style>
  body{
    background-color: #111;
  }
</style>